<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Rejestracja</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="form-container">
    <h2>Rejestracja</h2>
    <form method="post" enctype="multipart/form-data">
      <!-- Wybór algorytmu -->
      <div class="algorithm-selection">
        <h3>Wybierz algorytm</h3>
        <select name="algorithm">
            <option value="aes" selected>AES (symetryczny)</option>
            <option value="rsa">RSA (asymetryczny)</option>
            <option value="des">DES (symetryczny)</option>
            <option value="ecc">ECC (asymetryczny)</option>
            <option value="chacha20">ChaCha20 (symetryczny)</option>
            <option value="elgamal">ElGamal (asymetryczny)</option>
        </select>
      </div>

      <!-- Ukryty input nie jest już potrzebny -->
      <input type="text" name="username" placeholder="Nazwa użytkownika"><br>
      <input type="file" name="image"><br>
      <input type="submit" value="Zarejestruj">
    </form>
  </div>

  <div class="corner-decor">
    Zaawansowane programowanie w Pythonie - rejestracja i logowanie za pomocą zaszyfrowanego obrazka
  </div>
</body>
</html>
